<%- include('../partials/header.ejs') %>

    <body>
        <div class="container">
            <h1>Todos los libros</h1>
            <ul>
                <% for (let i=0; i < libros.length; i++) { %>
                    <li>
                        <div class="contenido">
                            <!-- <img src="https://cdn.pixabay.com/photo/2018/02/16/10/23/web-3157323_1280.jpg"alt="Descripción de la Imagen 1"> -->
                            <img src="<%=libros[i].img%>" alt="Descripción de la Imagen 1">
                            <div class="datos">
                                <strong>Título:</strong>
                                <%= libros[i].titulo %><br>
                                    <strong>Autor:</strong>
                                    <%= libros[i].autor %><br>
                                        <strong>Descipcion:</strong>
                                        <%= libros[i].descripcion %>
                            </div>
                        </div>
                        <div class="contenido-boton">
                            <input type="submit" onclick="buy('<%= usuario %>', '<%=libros[i]._id%>')" value="Optener">

                        </div>
                    </li>
                    <% } %>
            </ul>
        </div>
    </body>
    <%- include('../partials/footer.ejs') %>